body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
select,
input,
textarea {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

button {
  height: 2.5rem;
  border-radius: 0.2rem;
  border: none;
  color: white;
  padding: 0 1rem;
  cursor: pointer;
  box-shadow: 0 3px 4px 0 rgba(34, 60, 80, 0.13);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
